{% extends "base.html" %} {% block title %} User {% endblock %} {% block
    content %}
    
    <div class="content">
        <div class="account-container" id="ccount-container">
            <div style="display: flex;justify-content: space-between;align-items: center">
                <p class="content-title mb-5">Account Overview</p>
                <a href="/clients" class="text-default0">Back <i class='bx bxs-right-arrow-alt'></i></a>
            </div>
            <div class="account-detail" id="account-detail">
                <!-- Loading page -->
                <div class="loading-page">
                    <img class="loader" src="{{url_for('static', filename = 'images/loadring.gif')}}" alt="">
                </div>
                <p class="content-title mb-5">Change Password</p>

                <div class="account">
                    <form id="formChangePassword">
                        <div class="field-group">
                            <label for="txt-username"><small>Username:</small></label>
                            <input type="text" name="username" class="my-10" id="txt-username" value="{{ session['user']['username'] }}" readonly>
                        </div>
                        <div class="field-group">
                            <label for="txt-old-password"><small>Old password:</small></label>
                            <input type="password" name="old-password"  class="my-10" id="txt-old-password" placeholder="Enter password" required>
                        </div>
                        <div class="field-group">
                            <label for="txt-new-password"><small>New password:</small></label>
                            <input type="password" name="new-password"  class="my-10" id="txt-new-password" placeholder="Enter new password" required>
                        </div>
                        <div class="field-group">
                            <label for="txt-renew-password"><small>Re-Enter New password:</small></label>
                            <input type="password" name="renew-password"  class="my-10" id="txt-renew-password" placeholder="Re-Enter new password" required>
                        </div>
                        <div class="field-group" style="text-align:center"> 
                            <button type="submit" class="btn btn-yellow my-10" id="btn-change-password">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
    