
.item-container {
	position: relative;
	width: 70vw;
	margin: 0 10px 0 0;
}
.item-container .tools-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
	flex-wrap: wrap;
	padding: 5px 10px;
	margin-bottom: 10px;
	background: var(--color-white);
	border-radius: var(--radius2);
}
.item-container .tools-bar {
	display: flex; 
	flex-wrap: wrap; 
}

.item-container .tools-bar .search-tool {
	margin-right: 10px;
}
.item-container .tools-bar .search-tool .txt-search {
	position: relative;
}

.item-container .tools-bar .filter-tool {
	width: auto;
	display: flex;
	flex-wrap: wrap;
}

.item-container .tools-bar .filter-tool .tunel-selecter {
	position: relative;
	display: flex;
}
.item-container .tools-bar .filter-tool .tunel-selecter select {
	width: 150px;
	margin-right: 10px;
}
.item-container .tools-bar .filter-tool .checkbox { 
	display: flex;
	height: 65px;
	margin-left: 10px;
}
.checkbox-container  {
	width: auto;
	margin-right: 10px;
}

.checkbox-container .checkbox-input {
	height: 0;
	width: 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	font-size: 1rem;
}

.checkbox-input::before {
	background-color: var(--color-default);
	color: var(--color-white); 
	padding: 5px;
	border: 1px solid var(--color-default);
	border-radius: 3px 0 0 3px;
}

.checkbox-input::after {
	background-color: var(--color-white);
	color: var(--color-Dark2); 
	padding: 5px;
	border: 1px solid var(--color-default);
	border-radius: 0 3px 3px 0;
}
.checkbox-revoke{
	width: 130px !important;
}
.checkbox-onoff {
	width: 110px !important;
}
.checkbox-sort {
	width: 100px !important;
}
.checkbox-revoke::after {
	content: "Revoked";
}
.checkbox-revoke::before {
	content: "Alowed";
}
.checkbox-onoff::before {
	content: "Offline";
}
.checkbox-onoff::after {
	content: "Online";
}
.checkbox-sort::before {
	content: "⬆Asc";
}
.checkbox-sort::after {
	content: "⬇Desc";
}
/*  */
.checkbox-input-asc-desc {
	width: 80px;
}
.checkbox-input-asc-desc::before {
	content: "Asc";
}
.checkbox-input-asc-desc::after {
	content: "Desc";
}

.checkbox-input:checked::before {
	background-color: var(--color-white);
	color: var(--color-Dark2);
}

.checkbox-input:checked::after {
	background-color: var(--color-default);
	color: var(--color-white);
}

.content .item-content {
	position: relative;
	width: 100%;
	height: calc(100vh - 230px);
	padding: 10px;
	border-radius: var(--radius2);
	background: var(--color-white);
	overflow: auto;
}

.content .items-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
	grid-gap: 20px;
	grid-auto-flow: dense;
}

.content .items-list .item {
	display: flex;
	justify-content: space-between;
	position: relative;
	color: var(--color-Light3);
	box-shadow: var(--box-shadow);
	background: var(--color-white);
	border-radius: var(--radius2);
	transition: all 0.2s ease;
}

.content .items-list .item .item-label {
	position: absolute;
	padding: 1px 3px;
}

.content .items-list .item .label-server {
	top: 0;
	left: 0;
	border-radius: 8px 0 5px 0;
}

.content .items-list .item .label-revoke {
	position: absolute;
	top: 20px;
	left: 0;
	background: var(--color-red);
	border-radius: 0 0 5px 0;
}

.content .items-list .item .item-label p {
	font-size: 0.8rem;
	color: var(--color-white);
}

.content .items-list .item .label-server01 {
	background: linear-gradient(to right, var(--color-green1), #028a61);
}

.content .items-list .item .label-server02 {
	color: var(--color-Dark1); 
	background: linear-gradient(to right, var(--color-yellow), #c7460a);
}

.content .items-list .item .label-server02 p {
	color: var(--color-Dark1);
}

.content .items-list .item .label-server03 {
	background: var(--color-red);
}

.content .items-list .item .btn-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 8px 8px 0;
	background-color: var(--color-default);
}

.content .items-list .item .btn-container .bx {
	padding: 5px;
	font-size: 1.5rem;
}

.content .items-list .item .btn-revoke {
	color: var(--color-white);
	border-radius: var(--radius);
	display: block;

}

.content .items-list .item .btn-delete {
	color: var(--color-white);
	display: block;
}
.content .items-list .item .btn-delete:hover ,
.content .items-list .item .btn-revoke:hover,
.content .items-list .item .btn-download:hover,
.content .items-list .item .btn-info:hover
{
	scale: 1.1;
}


.content .items-list .item .btn-info {
	color: var(--color-white);
	display: block;
}

.content .items-list .item .btn-download {
	cursor: pointer;
	color: var(--color-white);
}

.content .items-list .item:hover {
	box-shadow: var(--box-shadow4);
}

.content .items-list .item .item-title {
	width: calc(100% - 10px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content .items-list .item .item-title .item-img {
	margin: 15px 0 5px 0;
	position: relative;
}
.content .items-list .item .item-title .item-img .bx-wifi-off { 
	position: absolute;
	content: "";
	top: -15px;
	right:  calc(50% - 10px);
	font-size: 1.5rem;
	color: var(--color-red); 
}
.content .items-list .item .item-title .item-img .phone { 
	 transform: translateY(10px); 
}
.content .items-list .item .item-title .item-img .camera { 
	transform: translateY(10px); 
	width: 45px !important;
}
 
.content .items-list .item .item-title .item-name {
	font-size: 1.025rem;
	margin: 5px 0;
	padding: 2px 5px;
	text-align: center;
	overflow: hidden;
	width: 70%;
	transform: translateY(10px);
	text-overflow: ellipsis;
}

/* Detail */
.content .items-list .item .item-info .item-details {
	visibility: hidden;
	transition: all 0.5s ease;
	position: absolute;
	bottom: -200px;
	left: -100vw;
	z-index: 99;
	font-size: 0.9rem;
	line-height: 2;
	width: 300px;
	height: auto;
	padding: 10px 10px 0 10px;
	background-color: var(--color-white);
	border-radius: var(--radius);
	border: 1px solid var(--color-yellow);
}

.content .items-list .item-details ul li {
	padding: 0 5px; 
	display: flex;
	border-bottom: 1px solid var(--color-Light2);
}
.content .items-list .item-details ul li:hover {
	background: var(--color-Light);
}

.content .items-list .item-details .name-detail {
	margin-right: 10px;
	font-weight: bold;
}

.content .items-list .item-details .privatekey-value {
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content .items-list .item-details .update-time {
	margin-top: 10px;
	display: block;
	font-size: 12px;
	font-style: italic;
	text-align: end;
}
.content .items-list .item .item-info-active .btn-info {
	background-color: var(--color-green1);
	border-radius: 0 0 8px 0;
}

.content .items-list .item .item-info-active .item-details {
	visibility: visible;
	left: 0px;
	transition: all 0.5s ease;
}

.content .items-list .item .item-info-active .item-details::before {
	content: " ";
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent var(--color-yellow) transparent;
	transform: rotate(0deg);
}

/* CONTENT - RIGHT */
 
.content .content-right {
	width: 100%;
	max-width: calc(100vw - 70vw - 108px);
}

.content .content-right .add-tool {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: var(--color-white);
	border-radius: var(--radius2);
}

.content .content-right .tunel-container {
	position: relative;
	padding: 10px;
	background-color: var(--color-white);
	border-radius: var(--radius2);
	margin-bottom: 10px; 
}

.content .content-right .tunel-content { 
	display: grid;
	min-height: 42px;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	grid-gap: 20px;
	grid-auto-flow: dense;
}

.content .content-right .tunel-container .interface,
.content .tunel-detail-container .interface
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px 0 0;
	border-radius: var(--radius2);
	background: var(--color-Light);
	border: 1px solid var(--color-Light);
}
.content .content-right .tunel-container .interface > div,
.content .tunel-detail-container .interface > div {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}
/*  */
.content .tunel-detail-container .interface  {
	width: 200px; 
}
.content .content-right .tunel-container .interface > div > a > i,
.content .tunel-detail-container .interface > div > a > i {
	font-size: 1.4rem;
	color: var(--color-default);
}
.content .content-title { 
	margin-bottom: 10px;
	font-size: 1.3rem;
}

.tunel-content .interface:hover {
	border: 1px solid var(--color-Light1) !important;
}

.tunel-content .interface .interface-name {
	color: var(--color-Dark1);
	margin-left: 10px;
}

.content .content-right .add-tool .tunel-selecter {
	position: relative;
}

/* tunel-detail-container */
.content .tunel-detail-container {
	width: 100%;
}
.content .tunel-detail-container .tunel-detail { 
	position: relative;
	min-height: calc(100vh - 105px);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--color-white);
	border-radius: var(--radius2);
}
.content .tunel-detail-container .table-tunel-detail {
	margin: 10px 0;
	border: 1px solid var(--color-Light);
	width: 100%;
}
.content .tunel-detail-container .table-tunel-detail tr:nth-child(odd) {
	background: var(--color-Light);
}
.content .tunel-detail-container .table-tunel-detail tr:hover {
	background: var(--color-Light1);
}

.content .tunel-detail-container .table-tunel-detail tr td {
	padding: 5px; 
}
/*  */
.content .account-container {
	width: 100%;
}

.content .account-detail {
	width: 100%;
	height: calc(100vh - 105px);
	display: flex; 
	align-items: center;
	flex-direction: column;
	padding: 10px;
	background: var(--color-white);
	border-radius: var(--radius2);

}

.content .account-detail .account {
	width: 300px;
	padding: 10px;
	border-radius: var(--radius2);
	background: var(--color-white);
	box-shadow: var(--box-shadow);

}

/* Pagination */
.listPage { 
    text-align: center;
    list-style: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.listPage li {
    background-color: var(--color-white);
    padding: 3px 8px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);

}
.listPage li:hover {
    background-color: var(--color-default);
    color: var(--color-white);
}

.listPage .active {
    background-color: var(--color-default);
    color: var(--color-white);
}
.listPage .active:hover {
	scale: 1.1;
}

@media only screen and (max-width: 768px) {
	.item-container {
		width: 100%;
		margin: 0;
	}
	.content { 
		flex-wrap: wrap-reverse;
	} 
	.content .content-right { 
		max-width: 100%;
		margin-bottom: 10px;
	}
 
	.item-container .tools-bar .filter-tool .tunel-selecter select,
	.item-container .tools-bar .search-tool,
	.item-container .tools-bar .filter-tool {
		width: 100%;  
		margin-right: 0;
		display: block;
		
	}
	.item-container .tools-bar .filter-tool .checkbox {  
		margin-left: 0;
		margin-right: 10px;
	}
}