@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

:root {
	--color-default: #004f83;
	--color-second: #0067ac;
	--color-default0: #1A3967;
	--color-white: #FFFFFF;
	--color-body: #F2F4F8;
	--color-Blue: #12b0dc;
	--color-Blue1: #1bd0f0;
	--color-Dark1: #1e1e1e;
	--color-Dark2: #252527;
	--color-Light: #f3f3f3;
	--color-Light1: #dfdfdf;
	--color-Light2: #c4c4c4;
	--color-Light3: #555555;
	--border0: 1px solid #e5e7eb;
	--border1: 1px solid #00395093;
	--color-Light4: #2e2e2e;
	--color-green1: #00AF35;
	--color-yellow: #E86F09;
	--color-red: #ad004b;
	--color-red1: #fd0470;
	--radius: 3px;
	--radius2: 8px;
	--box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
		rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 7px 0;
	--box-shadow1:rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	--box-shadow2: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
	--box-shadow3: 0 1.81818px 2.5px 0 rgba(0, 0, 0, 0.3),
		0 2.72727px 2px -4px rgba(0, 0, 0, 0.42),
		0 0.90909px 7px 0 rgba(0, 0, 0, 0.26);
	--box-shadow4:  rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
	rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
}
/* Globals  */
* {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: "Nunito", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(3, 3, 3, 0.3);
	color: var(--color-default0)
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
.d-none {
	display: none !important;
}
.d-block {
	display: block;
}
/*  */
.text-red1 {
	color: var(--color-red1);
}

.text-blue {
	color: var(--color-Blue);
}
.text-default0 {
	color: var(--color-default0);
}
.m-10 {
	margin: 10px;
}
.mr-10 {
	margin-right: 10px;
}
.mt-5 {
	margin-top: 5px;
}
.my-10 {
	margin: 10px 0;
}
.my-5 {
	margin: 10px 0;
}
.mb-10 {
	margin-bottom: 10px;
}

.mb-5 {
	margin-bottom: 5px;
}
.py-5 {
	padding: 5px 0;
}
.py-10 {
	padding: 10px 0;
}
.bg-white {
	background: var(--color-white);
}
.btn {
	border: none;
	color: var(--color-white);
	cursor: pointer;
	overflow: visible;
	padding: 5px 10px;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle; 
	appearance: none;
	border-radius: var(--radius);
	will-change: transform, opacity;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: var(--box-shadow);
}

.btn:hover {
	box-shadow: var(--box-shadow3);
}
 
.btn:active {
	box-shadow: var(--box-shadow4);
}
.btn-blue {
	background-color: var(--color-second);
}
.btn-yellow {
	background-color: var(--color-yellow);
}
.btn-blue:active {
	background-color: var(--color-default);
}

.btn-form {
	padding: 0;
	border: none;
	outline: none;
	color: var(--color-Light3);
	display: flex;
	/* background-color: transparent; */
}

/*  */

body {
	min-height: 100vh;
	background-color: var(--color-body);
}
label {
	/* color: var(--color-Dark2); */
}
input,
select {
	width: 100%;
	padding: 5px;
	border-radius: var(--radius);
	border: 1px solid var(--color-Light);
	background: var(--color-Light);
	color: var(--color-Dark2);
}

select {
	background: var(--color-white);
	padding: 4px;
}

input:focus,
select:focus {
	outline: none;
	border: 1px solid var(--color-second);
}

a {
	color: var(--color-Dark2);
}
 
.header {
	display: flex;
	height: 50px;
	padding: 0 10px 0 78px;
	align-items: center;
	justify-content: flex-end;
	background: var(--color-white);
	box-shadow: var(--box-shadow1);
}

/* .header .header-left {
	display: block;
	width: calc(100% - 180px);
	text-align: center;
} */

.header .header-right .user-info {
	display: flex;
	padding: 5px;
	align-items: center;
	border: 1px solid var(--color-Light);
	border-radius: var(--radius);
	justify-content: space-between;
}
.header .header-right .user-info i {
	font-size: 25px;
	color: var(--color-default0);
}
.header .header-right .user-info .username {
	padding: 0 5px;
	border-left: 1px solid var(--color-Light1);
}

.header .header-right .user-info:hover {
	border: 1px solid var(--color-default);
	cursor: pointer;
}
.header .header-right .user-info .bxs-user-circle {
	margin-right: 5px;
}
.header .header-right .user-info .bx-chevron-up {
	transition: all 0.5s ease-out;
	font-size: 1.1rem;
}

.header .header-right .user-info-active {
	border: 1px solid var(--color-default) !important;
	background: var(--color-default);
	color: var(--color-white) ;
}
.header .header-right .user-info-active .bx, 
.header .header-right .user-info-active .username {
	color: var(--color-white) !important;
}
.header .header-right .user-info-active .bx-chevron-up {
	 transform: rotate(180deg);
	 transition: all 0.5s ease-out;
}

.header .header-right .user-info-active .username::after { 
	transform: rotate(180deg);
	border-color: transparent transparent var(--color-white) transparent;
	transition: all 0.5s ease-out;
}


.header .header-right .user-info-menu {
	position: fixed;
	top: 45px;
	right: -200px;
	width: 150px;
	z-index: 9999;
	background: var(--color-default);
	color: var(--color-white);
	box-shadow: var(--box-shadow3);
	border-radius: var(--radius);
	visibility: hidden;
	transition: all .5s ease;
}

.header .header-right .user-info-menu-active {
	visibility: visible;
	transition: all .5s ease;
	right: 10px !important;
}

.header .header-right .user-info-menu ul li { 
	display: flex;
	align-items: center;
	padding: 5px;
}
  
.header .header-right .user-info-menu ul li i,
.header .header-right .user-info-menu ul li a {
	color: var(--color-white);
	margin-right: 5px; 
}
.header .header-right .user-info-menu ul li:hover,
.header .header-right .user-info-menu ul li:hover i,
.header .header-right .user-info-menu ul li:hover a {
	background: var(--color-second); 
}

.header .header-right .user-info-menu ul li:not(:last-child) {
	border-bottom: var(--border0);
}

.header .header-right .user-info-menu ul li i {
	font-size: 15px;
}

.sidebar {
	min-height: 100vh;
	width: 78px;
	padding: 6px 14px;
	z-index: 99;
	background-color: var(--color-default);
	transition: all 0.5s ease;
	position: fixed;
	top: 0;
	left: 0;
}

.sidebar.open {
	width: 250px;
}

.sidebar .logo_details {
	height: 40px;
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 10px;
}

.sidebar .logo_details img {
	width: 30px;
	margin-right: 10px;
}

.sidebar .logo_details .icon {
	opacity: 0;
	transition: all 0.5s ease;
}

.sidebar .logo_details .logo_name {
	color: var(--color-white);
	font-size: 1.5rem;
	font-weight: 600;
	opacity: 0;
	transition: all 0.5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
	opacity: 1;
}

.sidebar .logo_details #btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 1.6rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
}

.sidebar.open .logo_details #btn {
	text-align: right;
}

.sidebar i {
	color: var(--color-white);
	height: 60px;
	line-height: 60px;
	min-width: 50px;
	font-size: 1.7rem;
	text-align: center;
}

.sidebar .nav-list {
	margin-top: 20px;
	height: 100%;
}

.sidebar li {
	position: relative;
	margin: 8px 0;
	list-style: none; 

}

.sidebar li .tooltip {
	position: absolute;
	top: -20px;
	left: calc(100% + 15px);
	z-index: 3;
	background-color: var(--color-second);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 6px 14px;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 5px;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
}

.sidebar li:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
	top: 50%;
	transform: translateY(-50%);
	color: var(--color-white);
}

/* .sidebar.open li {
	border-bottom: 1px solid var(--color-Light2);
} */
/* .sidebar li:hover {
	border-bottom: 1px solid var(--color-second);
} */
.sidebar.open li .tooltip {
	display: none;
}

.sidebar li a {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	text-decoration: none;
	position: relative;
	transition: all 0.5s ease;
	z-index: 12;
}

.sidebar li a .link_name {
	color: var(--color-white);
	font-size: 1.1rem;
	font-weight: 400;
	white-space: nowrap;
	pointer-events: auto;
	transition: all 0.4s ease;
	pointer-events: none;
	opacity: 0;
} 
.sidebar li a:hover {
	background: var(--color-second);
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
	transition: all 0.5s ease;
}

.sidebar.open li a .link_name {
	opacity: 1;
	pointer-events: auto;
}

.sidebar li i {
	height: 35px;
	line-height: 35px;
	font-size: 1.3rem;
	border-radius: 5px; 
}

.sidebar li.profile {
	position: fixed;
	height: 60px;
	width: 78px;
	left: 0;
	bottom: -8px;
	padding: 10px 14px;
	overflow: hidden;
	transition: all 0.5s ease;
	display: flex;
}

.sidebar.open li.profile {
	width: 250px; 
}

.sidebar .profile .profile_details {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap; 
}
.sidebar .profile .profile_details .bx-user-check {
	font-size: 2rem;
}
.sidebar li img {
	height: 45px;
	width: 45px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation {
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-white);
	white-space: nowrap;
}

.sidebar li.profile .designation {
	font-size: 0.9rem;
	text-align: center;
	background: var(--color-default0);
	border-radius: var(--radius);
}

.sidebar .profile #log_out {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-color: var(--color-second);
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s ease; 
	display: flex; 
	justify-content: center;
}

.sidebar.open .profile #log_out {
	width: 50px;
	background: none;
}

.home-section {
	position: relative;
	min-height: calc(100vh - 100px);
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	padding: 10px;
	transition: all 0.5s ease;
	z-index: 2;
}

.home-section .container {
	width: 100%;
	display: inline-block;
	color: var(--color-default);
	font-size: 1.7rem;
	font-weight: 500;
}

.sidebar.open~.home-section {
	left: 250px;
	width: calc(100% - 250px);
}

/* ITEM */
.content {
	/* display: flex;  */
}

/* Toggle tunel */
.toggle {
	display: block;
	text-align: center;
	user-select: none;
	transform: scale(0.4);
}

.toggle--checkbox {
	display: none;
}

.toggle--btn {
	display: block;
	margin: 0 auto;
	font-size: 1.4em;
	transition: all 350ms ease-in;
}

.toggle--btn:hover {
	cursor: pointer;
}

.toggle--btn,
.toggle--btn:before,
.toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after {
	transition: all 1s ease-in;
}

.toggle--btn:before,
.toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after {
	content: "";
	display: block;
}

.toggle--push .toggle--btn {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #f9f8f6;
	border-radius: 50%;
	box-shadow: 0 5px 10px 0px #333, 0 15px 20px 0px #cccccc;
}

.toggle--push .toggle--btn,
.toggle--push .toggle--btn:before,
.toggle--push .toggle--btn:after {
	transition-duration: 150ms;
}

.toggle--push .toggle--btn:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 22.7272727273px;
	height: 22.7272727273px;
	border-radius: 50%;
	background-color: #ff9900;
	box-shadow: inset 0 0 0 5px #ccc, inset 0 0 0 14px #f9f8f6;
}

.toggle--push .toggle--btn:after {
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 12px;
	background-color: #ccc;
	box-shadow: 0 0 0 2.5px #f9f8f6;
}

.toggle--push--glow .toggle--btn {
	background-color: var(--color-Light);
	box-shadow: 0 5px 10px 0px #333, 0 0 0 3px #444444, 0 0 8px 2px transparent,
		0 0 0 6px #919191;
}

.toggle--push--glow .toggle--btn:before {
	box-shadow: inset 0 0 0 5px #aaa, inset 0 0 0 14px #dfdfdf;
}

.toggle--push--glow .toggle--btn:after {
	background-color: #aaa;
	box-shadow: 0 0 0 2.5px #dfdfdf;
}

/* Active */
.power-active .toggle--checkbox+.toggle--btn {
	animation: loadActive 1.5s ease-out infinite;
	box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-Blue),
		0 0 30px 0 var(--color-Blue), 0 0 0 6px var(--color-Blue);
}

.power-active .toggle--checkbox+.toggle--btn:before {
	box-shadow: inset 0 0 0 5px var(--color-Blue), inset 0 0 0 14px #dfdfdf;
}

.power-active .toggle--checkbox+.toggle--btn:after {
	background-color: var(--color-Blue);
}

/* OFF */

.power-off .toggle--checkbox+.toggle--btn {
	animation: loadOff 1.5s ease-out infinite;
	box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-red),
		0 0 30px 0 var(--color-red), 0 0 0 6px var(--color-red);
}

.power-off .toggle--checkbox+.toggle--btn:before {
	box-shadow: inset 0 0 0 5px var(--color-red), inset 0 0 0 14px #dfdfdf;
}

.power-off .toggle--checkbox+.toggle--btn:after {
	background-color: var(--color-red);
}

@keyframes loadActive {
	0% {
		box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-Blue),
			0 0 0px 0 var(--color-Blue), 0 0 0 6px var(--color-Blue);
	}

	25% {
		box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-Blue1),
			0 0 20px 5px var(--color-Blue1), 0 0 0 6px var(--color-Blue1);
	}
	50% {
		box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-Blue1),
			0 0 40px 5px var(--color-Blue1), 0 0 0 6px var(--color-Blue1);
	}
	75% {
		box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-Blue1),
			0 0 20px 5px var(--color-Blue1), 0 0 0 6px var(--color-Blue1);
	} 
	100% {
		box-shadow: 0 0px 8px 0 var(--color-Blue1), 0 0 0 3px var(--color-Blue),
			0 0 0px 0 var(--color-Blue), 0 0 0 6px var(--color-Blue);
	}
}

@keyframes loadOff {
	0% {
		box-shadow: 0 0px 8px 0 var(--color-red), 0 0 0 3px var(--color-red1),
			0 0 0px 0 var(--color-red1), 0 0 0 6px var(--color-red1);
	}

	25% {
		box-shadow: 0 0px 8px 0 var(--color-red), 0 0 0 3px var(--color-red),
			0 0 20px 5px var(--color-red), 0 0 0 6px var(--color-red);
	}
	50% {
		box-shadow: 0 0px 8px 0 var(--color-red), 0 0 0 3px var(--color-red),
			0 0 40px 5px var(--color-red), 0 0 0 6px var(--color-red);
	}
	75% {
		box-shadow: 0 0px 8px 0 var(--color-red), 0 0 0 3px var(--color-red),
			0 0 20px 5px var(--color-red), 0 0 0 6px var(--color-red);
	}
	100% {
		box-shadow: 0 0px 8px 0 var(--color-red), 0 0 0 3px var(--color-red1),
			0 0 0px 0 var(--color-red1), 0 0 0 6px var(--color-red1);
	}
}

/* Loading page */

.loading-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	padding: 3px;
	display: none;
	align-items: flex-start;
	justify-content: flex-end;
	background: var(--color-white);
	border-radius: var(--radius2); 
}

.loader {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 2px solid var(--color-yellow);
	border-top-color: var(--color-default0);
	box-sizing: border-box;
	background: transparent;
	animation: loading 0.5s linear infinite;
  }
  
  @keyframes loading {
	0% {
	  transform: rotate(0deg);
	}
	0% {
	  transform: rotate(360deg);
	}
  }
  
.content .item-content.loading .loading-page,
.content .content-right .tunel-container.loading .loading-page,
.content .tunel-detail-container .tunel-detail.loading .loading-page,
.content .content-right .add-tool .tunel-selecter.loading .loading-page,
.item-container .tools-bar .filter-tool .tunel-selecter.loading .loading-page {
	display: flex;
}
.toastify-warning {
	background: linear-gradient(to right, var(--color-red), #8a0202);
}

