{% extends "base.html" %} {% block title %} Tunel detail {% endblock %} {% block
    content %}
    
    <div class="content">
        <div class="tunel-detail-container" id="tunel-detail-container">
            <div style="display: flex;justify-content: space-between;align-items: center">
                <p class="content-title mb-5">Status Overview</p>
                <a href="/clients" class="text-default0">Back <i class='bx bxs-right-arrow-alt'></i></a>
            </div>
            <div class="tunel-detail" id="tunel-detail">
                <!-- Loading page -->
                <div class="loading-page">
                    <div class="loader"></div>
              </div>
            </div>
        </div>
    </div>
    
{% endblock %}
    