.toastify-warning {
	background: linear-gradient(to right, #b61a1a, #7c0505);
}
.toastify-success {
	background: linear-gradient(to right, #12b47e, #028a7f);
}
.btn {
    display: inline-block;
    display: inline; 
    padding: 4px 10px 4px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer; 
} 
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #1e7bb1;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary,
.btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #2f94ca, #4a77d4);
    background-image: -ms-linear-gradient(top, #2f94ca, #4a77d4);
    background-image: -webkit-gradient(linear,
            0 0,
            0 100%,
            from(#2f94ca),
            to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #2f94ca, #4a77d4);
    background-image: -o-linear-gradient(top, #2f94ca, #4a77d4);
    background-image: linear-gradient(top, #2f94ca, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#2f94ca, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
}

.btn-block {
    width: 100%;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif; 
    background-image: url(../../../../static/images/background1.jpg);
    background-repeat: no-repeat;
    /* Prevent image from repeating */
    background-size: cover;
    /* Cover the entire background */
    background-position: center;
    /* Center the background image */
    background-attachment: fixed;
    position: relative;
}
body::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000002f;
    z-index: 1; 
}

.login {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    z-index: 2; 
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    padding: 10px; 
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
        0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
        0 1px 1px rgba(255, 255, 255, 0.2);
        
} 
input::-ms-fill {
    color: #000; 
}
 
@media only screen and (max-width: 768px) {
	.login { 
        left: 50%; 
    }
}