
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} </title>
    <!-- Link Styles -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/client_page_style.css')}}">

</head>
<body>
    <div class="sidebar">
        <div class="logo_details">
            <a href="/clients" >
                <img class="icon" src="{{url_for('static', filename = 'images/logo.jpg')}}" alt="">
            </a>
            <div class="logo_name">OpenVPN</div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
             
            <li>
                <a href="#">
                    <i class="bx bx-grid-alt"></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/clients">
                    <i class="bx bx-user"></i>
                    <span class="link_name">Client</span>
                </a>
                <span class="tooltip">Client</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-pie-chart-alt-2"></i>
                    <span class="link_name">Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-folder"></i>
                    <span class="link_name">File Manger</span>
                </a>
                <span class="tooltip">File Manger</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="link_name">Settings</span>
                </a>
                <span class="tooltip">Settings</span>
            </li>
            <li class="profile">
                <div class="profile_details">
                    <i class='bx bx-user-check'></i>
                    <div class="profile_content">
                        <div class="name">{{ session['user']['username'] }}</div>
                        <div class="designation">Admin</div>
                    </div>
                </div>
                <a href="/login" id="log_out"><i class="bx bx-log-out" ></i></a>
            </li>
        </ul>
    </div>
    <section class="header">
        <!-- <div class="header-left">
            <h1 class="header-title">OpenVPN Server</h1>
        </div> -->
        <div class="header-right">
            <div class="user-info" id="user-info">
                <i class='bx bxs-user-circle'></i>
                <p class="username"> {{ session['user']['username'] }}</p>
                <i class='bx bx-chevron-up' ></i>
            </div>
            <div class="user-info-menu" id="user-info-menu">
                <ul>
                    <li>
                        <i class='bx bx-log-out'></i>
                        <a href="/login">Logout</a> 
                    </li>
                    <li>
                        <i class='bx bxs-key'></i> 
                        <a href="/user/{{ session['user']['username'] }}">Set Password</a>
                    </li>
                </ul>
            </div> 
        </div>
    </section>
    <section class="home-section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
    <!-- Scripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>