<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Error !</title> 
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style.css')}}"> 
</head>

<body> 
    <div style="display: flex;flex-direction: column; justify-content: center; align-items: center;width: 100vw;height: 100vh;">
        <h3>Some thing went wrong !!!</h3> <br>
        <a class="btn btn-blue" href="/login">Back</a>
    </div>   
</body> 
</html>