{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}

<div class="content">
    <div class="d-flex">
        <div class="item-container">
            <p class="content-title">Clients list</p>
            <div class="tools-container">
                <div class="tools-bar">
                    <!-- Search -->
                    <div class="search-tool tools">
                        <label for="txt-search"><small>Search:</small></label>
                        <input type="text" class="txt-search my-10" id="txt-search" placeholder="Enter name">
                    </div>
                    <!-- filter -->
                    <div class="filter-tool tools mr-10 ">
                        <div class="">
                            <label for="tunel-selecter-filter"><small>Filter by Server:</small></label>
                            <div class="tunel-selecter " id="tunel-selecter-filter-content"> 
                                <!-- Loading page -->
                                <div class="loading-page">
                                    <div class="loader"></div>
                                </div>
                                <!--  -->
                                <select id="tunel-selecter-filter" class="my-10"> 
                                </select> 
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="checkbox-container">
                                <label for="checkbox-filter-revoke"><small>Filter by Revoke:</small></label>
                                <input type="checkbox" class="checkbox-input my-10 checkbox-revoke" id="checkbox-filter-revoke">
                            </div>
                            <div class="checkbox-container">
                                <label for="checkbox-filter-onoff"><small>Filter by On/Off:</small></label>
                                <input type="checkbox" class="checkbox-input my-10 checkbox-onoff" id="checkbox-filter-onoff" checked >
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="checkbox-container">
                                <label for="checkbox-sort"><small>Sort:</small></label>
                                <input type="checkbox" class="checkbox-input my-10 checkbox-sort" id="checkbox-sort" checked>
                            </div> 
                        </div>
                    </div>
                </div> 
                <div>
                    <label for="show-item-selecter"><small>Show:</small></label>
                    <div class="show-item-selecter">  
                        <select id="show-item-selecter" class="my-10">
                            <option value="3" selected >3</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select> 
                    </div>
                </div>
            </div>
            <div class="item-content" id="item-content">
                <!-- Loading page -->
                <div class="loading-page">
                     <div class="loader"></div>
                </div>
                <!--  -->
                <ul class="items-list" id="items-list"></ul>
            </div>
            <div class="d-flex py-5">
                <div class="data-quantity-container">
                    <span><small>Data count:</small></span>
                    <i class="my-10 data-quantity" ><b id="data-quantity">0</b>/<b id="data-total">0</b></i>
                </div>  
                <ul class="listPage"> 
                </ul>
            </div>
        </div>
        
        <div class="content-right">
            <p class="content-title">Tunel</p>
            <div class="tunel-container" id="tunel-container"> 
                 <!-- Loading page -->
                 <div class="loading-page">
                    <div class="loader"></div>
                </div>
                <!--  -->
                <div class="tunel-content" id="tunel-content">
                   
                </div>
            </div>
            <p class="content-title">Add new client</p>
            <div class="add-tool tools" id="add-tool"> 
                <label for="txt-add-client"><small>Client name:</small></label>
                <div>
                    <input type="text" class="my-10" id="txt-add-client" style="width: 100%" placeholder="Enter name">
                </div>
                <label for="tunel-selecter"><small>Tunel:</small></label>
                <div class="tunel-selecter" id="tunel-selecter-content">
                    <!-- Loading page -->
                    <div class="loading-page">
                        <div class="loader"></div>
                    </div>
                    <!--  -->
                    <select id="tunel-selecter" class="my-10">
                    </select>
                </div>
                <button class="btn btn-yellow my-10" id="btn-add-client">Add</button>
            </div>
        </div>
    </div> 
    
</div>
{% endblock %}